* {
  margin: 0;
  padding: 0;
  color: #fff;
  background-color: #212121;
  font-family: 'Roboto', sans-serif;
}

.bio {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;

}

.bioText {
  width: 500px;
  line-height: 1.7em;
  letter-spacing: 1px;
  font-size: 1.1em;
}
