.navbar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 50px 0px;
}

.navButton {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1.3em;
  font-weight: 100;
  margin: 15px;
  padding-bottom: 5px;
  position: relative;
}

.navButton:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #af0101;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.2s ease-in-out 0s;
  transition: all 0.2s ease-in-out 0s;
}

.navButton:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

/* -------- Media queries -------- */

/* Smartphones (portrait and landscape) */

@media only screen and (min-width : 320px) and (max-width : 480px) {
  .navbar {
    flex-direction: column;
  }
}
